@media (min-width: $vp-1024) {
  .footer {
    background: #041827;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .footer__logo {
    width: 215px;
    height: 55px;
    display: block;
    margin-bottom: 35px;
  }

  .footer__container {
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
  }

  .footer__down {
    display: flex;
  }
}

@media (max-width: 1023px) {
  .footer {
    background: #041827;
    color: #ffffff;
    padding-top: 50px;
  }

  .footer__logo {
    width: 215px;
    height: 55px;
    display: block;
    margin-bottom: 30px;
  }

  .footer__container {
    padding: 0 50px;
  }

  .footer__down {
    display: flex;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background: rgba(248, 253, 255, 0.7);
      bottom: 35px;
      left: 0;
    }
  }

  .footer__logo {
    margin-bottom: 10px;
  }

  .footer__down {
    flex-direction: column;
  }

  .footer__container {
    padding: 0;
  }
}
