@font-face {
  font-family: "PTMono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PTMono-Regular.woff2");
}

// @font-face {
//   font-family: "Roboto Condensed";
//   font-style: normal;
//   font-weight: 400;
//   src: url("../fonts/RobotoCondensed-Regular.ttf");
// }

// @font-face {
//   font-family: "Roboto Condensed";
//   font-style: normal;
//   font-weight: 700;
//   src: url("../fonts/RobotoCondensed-Bold.ttf");
// }
